In [3]:
import pandas as pd
df = pd.read_csv("sslvpn.csv", encoding="utf-8")
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>('date=2021-06-30'</th>
      <th>'time=20:32:25'</th>
      <th>'down"')</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>('date=2021-06-30'</td>
      <td>'time=20:32:25'</td>
      <td>'down"')</td>
    </tr>
    <tr>
      <th>1</th>
      <td>('date=2021-06-30'</td>
      <td>'time=20:22:23'</td>
      <td>'action="tunnel-stats"')</td>
    </tr>
    <tr>
      <th>2</th>
      <td>('date=2021-06-30'</td>
      <td>'time=20:12:19'</td>
      <td>'action="tunnel-stats"')</td>
    </tr>
    <tr>
      <th>3</th>
      <td>('date=2021-06-30'</td>
      <td>'time=20:02:16'</td>
      <td>'action="tunnel-stats"')</td>
    </tr>
    <tr>
      <th>4</th>
      <td>('date=2021-06-30'</td>
      <td>'time=19:52:13'</td>
      <td>'action="tunnel-stats"')</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>995</th>
      <td>('date=2021-06-01'</td>
      <td>'time=15:09:28'</td>
      <td>'action="tunnel-stats"')</td>
    </tr>
    <tr>
      <th>996</th>
      <td>('date=2021-06-01'</td>
      <td>'time=14:59:23'</td>
      <td>'action="tunnel-stats"')</td>
    </tr>
    <tr>
      <th>997</th>
      <td>('date=2021-06-01'</td>
      <td>'time=14:49:19'</td>
      <td>'action="tunnel-stats"')</td>
    </tr>
    <tr>
      <th>998</th>
      <td>('date=2021-06-01'</td>
      <td>'time=14:39:19'</td>
      <td>'up"')</td>
    </tr>
    <tr>
      <th>999</th>
      <td>('date=2021-06-01'</td>
      <td>'time=14:39:19'</td>
      <td>'up"')</td>
    </tr>
  </tbody>
</table>
<p>1000 rows × 3 columns</p>
</div>